.mynav{
  background-color: rgba(0,0,0,0.7);
  border-radius: 0;
}
.navbar-secondary{
  /* display: inline-block !important; */
  /* width: !important 12em;
  margin-left: 20em; */
  position: absolute;
  right: 0;
}
.navbar-brand{
  color: white;
}
.color-white{
  color: white !important;
}
.icon-bar{
  background-color: white;
}
.nav-item{
  padding: 0.5em;
}
.full-window{
  padding: 37vh 0 37vh 0;
}
.u-line{
  background-color: black;
  display: inline-block;
  height: 0.2vh;
  width: 5vw;
  position: absolute;
  left: 47.15vw;
}
.row1{
  background-color: gray;
  height: 25vh;
  padding: 20px;
  /* margin: 5px; */
}
.row2{
  background: red;
  height: 25vh;
  padding: 20px;
  /* margin: 10px; */
}
.row3{
  background-color: purple;
  height: 25vh;
  padding: 20px;
  /* margin: 5px; */
}
.inner-box{
  background-color: yellow;
  width: 0%;
  height: 0%;
  border: 4px solid pink;
  /* animation: ease-in-out; */
  transition: all 200ms ease-in-out;
}
.row1:hover .inner-box{
  width: 100%;
  height: 100%;

}
.row2:hover .inner-box{
  width: 100%;
  height: 100%;
}
.row3:hover .inner-box{
  width: 100%;
  height: 100%;

}
@media (max-width: 992px) {
  .navbar-secondary {
    position: relative !important;
    right: auto !important;
  }
  .color-white {
    color: white !important;
  }
  .color-white:hover {
    color: black !important;
  }
  .row1 {
    display: block;
  }
}
