.mynav{
  background-color: rgba(0,0,0,0.5) !important;
  position: fixed;
  width: 100%;
  border-radius: 0;
}
.navbar-secondary{
  /* display: inline-block !important; */
  /* width: !important 12em;
  margin-left: 20em; */
  position: absolute;
  right: 0;
}
.navbar-brand{
  color: white;
}
.color-white{
  color: white !important;
}
.icon-bar{
  background-color: white;
}
.nav-item{
  padding: 0.5em;
}
.full-window{
  padding: 37vh 0 37vh 0;
}
.u-line{
  background-color: black;
  display: inline-block;
  height: 0.2vh;
  width: 5vw;
  position: absolute;
  left: 47.15vw;
}
/* For the animations in the ideas.php file */
.row1{
  background-color: gray;
  height: 25vh;
  padding: 20px;
  /* margin: 5px; */
}
.row2{
  background: red;
  height: 25vh;
  padding: 20px;
  /* margin: 10px; */
}
.row3{
  background-color: purple;
  height: 25vh;
  padding: 20px;
  /* margin: 5px; */
}
.inner-box{
  background-color: yellow;
  width: 0%;
  height: 0%;
  border: 4px solid pink;
  /* animation: ease-in-out; */
  transition: all 200ms ease-in-out;
}
.row1:hover .inner-box{
  width: 100%;
  height: 100%;

}
.row2:hover .inner-box{
  width: 100%;
  height: 100%;
}
.row3:hover .inner-box{
  width: 100%;
  height: 100%;

}
/* Growing Box Animation end here */
#skills{
  display: none;
}
#projects{
  display: none;
}
.gallery-img{
  flex-direction: row;
}

.font-weight-bold{
  font-weight: bold;
}

.position-absolute{
  top: 2em;
  left: 5em;
}
/* Button Hover animation */
.btn{
  position: relative;
}
.btn{
  overflow: hidden;
}
.btn span::before{
  content: '';
  background: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 0%;
  height: 100%;
  transition: ease-in 100ms all;
}

.btn span::after{
  content: 'Start Here';
  position: relative;
  top: 50%;
  left: 0%;
  transform: translate(-50%,-50%);
  z-index: 5;
  transition: ease-in 100ms all;
  /* color: black; */
}

.btn:hover span::before{
  width: 100%;
}
.btn:hover span::after{
  /* color: red; */
  letter-spacing: 0.15em;
}
/* Responsivness for medium screens */
@media (max-width: 992px) {
  .navbar-secondary {
    position: relative !important;
    right: auto !important;
  }
  .mynav{
    background-color: rgba(0,0,0,0.8) !important;
  }
  .navbar-brand{
    color: black !important;
  }
  .color-white {
    color: white !important;
  }
  .color-white:hover {
    color: black !important;
  }
  .row1 {
    display: block;
  }
  .gallery-img{
    flex-direction: column;
    text-align:center;
  }
  .gallery-items{
    margin-bottom: 1rem;
  }
  .sticky-top{
    position: relative;
  }
}
